.bg-color{
    background-color: #F0FFF0;
}
.topimg{ 
    margin-right: 20px;
    margin-bottom:25px ;
}
.btn{
    border-radius: 30px;  
}
    .categories img{
    width: 60px;
}
.categories{
    margin: 50px 10px 50px 60px;

}
.col-md-3{
    background-color: #F8FFFB;
    text-align: center;
    padding: 20px 0;
    transition: all 0.5s ease-in-out;
}
    .col-md-3 img{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.card-footer{
    background: none;
    border: none;
    margin: 5px 10px;
    padding: 5px 10ps;
    border-radius: 30px;
}
.card-footer img {
    width: 24px;
    height: 24px;
 }
 .card{
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
 }
 .card:hover{
    box-shadow: 5px 5px 10px gray;
 }
 .small-card:hover{
    box-shadow: 5px 5px 5px 10px lightgray;
 }
section{
    
    margin-bottom: 50px;

}
.manimg{
    width: 120px;
    height: 120px;
}
p{
    font-size: 16;
}
ul li{
    list-style: none;

}
.last-sec{
    background-color: #282531;
    height: 200px;
}
.text-color{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
color: #FFFFFF;
}
